.body {
  background-color: pink;

}

.stuff {
  width: 120rem;
  margin-left: 50px;
  margin-right: 50px
  margin-top: 50px;
  margin-top: 50px;
}

.srchButton {
      padding: 50px 50px 50px 50px;
      margin: 50px 50px 50px 50px;
}

.btn-group {
  margin-top: 20px;
  position: relative;
  padding: 0px 10px 20px 5px;
}

body {
  padding-top: 70px;
}
