.body {
  background-color: pink;

}

.stuff {
  width: 120rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-top: 5rem;
}

.srchButton {
      padding: 5rem 5rem 5rem 5rem;
      margin: 5rem 5rem 5rem 5rem;
}
